.DS_Store
*.tlog
*.obj
*.pdb
*.manifest
*.user
*.log
*.lastbuildstate
*.idb
*.unsuccessfulbuild
*.pdb
*.suo
*.ilk
*.filters
Playtomic/demo/DllDebug/demo.log

Playtomic/demo/DLLRelease/demo.log

Playtomic/Debug/demo.ilk

Playtomic/Debug/Playtomic.lib
