Dependencies/
Debug/
Release/
Release-iphoneos/
Release-iphonesimulator/
Release-universal/
Debug-iphoneos/
Debug-iphonesimulator/
Debug-universal/
DLLRelease/
DllDebug/
build/
prebuilt/
classes/
libs/
obj/
.DS_Store
*.tlog
*.obj
*.pdb
*.manifest
*.user
*.log
*.lastbuildstate
*.idb
*.unsuccessfulbuild
*.pdb
*.suo
*.ilk
*.filters
*.build
Playtomic.build/*
Playtomic/demo/DllDebug/demo.log
Playtomic/demo/DLLRelease/demo.log
Playtomic/Debug/demo.ilk
Playtomic/Debug/Playtomic.lib
Playtomic/Debug/demo.ilk
Playtomic/Playtomic.suo
Playtomic/Debug/demo.exeß
Playtomic/Playtomic/Playtomic.build/Release-iphonesimulator/PlaytomicIOS.build/build-state~.dat
